.btn{
	border:1px  solid #F97300;
	background:#F97300;
    color:#fff;
    transition: .3s ease-in-out;
}

.output{
	border:1px  solid #F97300;
	background:#F97300;
    color:#fff;
    transition: .3s ease-in-out;
}